<aside class="col-md-2 p-3 bg-light">
    <h5 class="text-center">Suggestions</h5>
    <ul class="list-group">
        <li class="list-group-item">Amis à ajouter</li>
        <li class="list-group-item">Pages à suivre</li>
        <li class="list-group-item">Groupes populaires</li>
    </ul>
</aside>