{{ form_start(form, {'attr': {'class': ' p-4'}}) }}

<div class="input-group">
    {{ form_widget(form.query, {'attr': {'class': 'form-control', 'placeholder': 'Rechercher...'}}) }}
    <button class="btn btn-primary" type="submit">Rechercher</button>
</div>

{{ form_end(form) }}
